@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #181818;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.quick-view-tooltip::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2b2a2a;
  right: -5px;
  transform: rotate(45deg);
  top: 45%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.wishlist-tooltip::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #2b2a2a;
  right: -5px;
  transform: rotate(45deg);
  top: 45%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.clx-wrapper:hover .clx {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 668px) {
  .clx-wrapper:hover .clx {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;

    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #1d1d1d;
  border-bottom: 1px solid #161616;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;
  -webkit-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;
  -moz-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;
  -ms-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;
  -o-transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ease-in;
  /* background: #161616; */
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  /* -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; */
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
}

.search-popup {
  scroll-behavior: smooth;
}

.search-popup::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.search-popup::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
